<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		   point="org.eclipse.ui.views"> 
       <category
            id="org.eclipse.linuxtools.tmf.totalads"
            name="Automated Anomaly Detection">
      </category>
       <view
             category="org.eclipse.linuxtools.tmf.totalads"
             class="org.eclipse.linuxtools.tmf.totalads.ui.diagnosis.DiagnosisView"
             id="org.eclipse.linuxtools.tmf.totalads.DiagnosisView"
             name="Diagnosis"
             restorable="true">
       </view>
       <view
             category="org.eclipse.linuxtools.tmf.totalads"
             class="org.eclipse.linuxtools.tmf.totalads.ui.AnomaliesView"
             id="org.eclipse.linuxtools.tmf.totalads.AnomaliesView"
             name="Anomalies"
             restorable="true">
       </view>
       <view
             category="org.eclipse.linuxtools.tmf.totalads"
             class="org.eclipse.linuxtools.tmf.totalads.ui.ModelingView"
             id="org.eclipse.linuxtools.tmf.totalads.ModelingView"
             name="Modeling"
             restorable="true">
       </view>
       <view
             category="org.eclipse.linuxtools.tmf.totalads"
             class="org.eclipse.linuxtools.tmf.totalads.ui.datamodels.DataModelsView"
             id="org.eclipse.linuxtools.tmf.totalads.ModelsView"
             name="Models DB"
             restorable="true">
       </view>
       <view
             class="org.eclipse.linuxtools.tmf.totalads.ui.GenericView"
             id="org.eclipse.linuxtools.tmf.totalads.GenericView"
             name="Generic View"
             restorable="true">
       </view>
   
     <!-- <extension  point="org.eclipse.ui.perspectives">
      <perspective
      		category="org.eclipse.linuxtools.tmf.totalads"
            class="org.eclipse.linuxtools.tmf.totalads.core.TMFTotalADSPerspectiveFactory"
      	    id="org.eclipse.linuxtools.tmf.totalads.ADS01"
            name="Total Anomaly Detection System"
            icon="icons/totalads.ico"/>
    </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.linuxtools.tmf.totalads.ADS01">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="right"/>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="top"/>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               relationship="stack"
               relative="left"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="bottom"/>
      </perspectiveExtension>-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.tmf.totalads.core.TotalAdsPerspectiveFactory"
            icon="icons/totalads.ico"
            id="org.eclipse.linuxtools.tmf.totalads.TotalAdsPerspective"
            name="Total ADSx">
      </perspective>
   </extension>
   <extension
         name="create"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.linuxtools.tmf.totalads.ModelsView">
         <command
               commandId="org.eclipse.linuxtools.tmf.totalads.createModel"
               icon="icons/create.ico"
               style="push"
               tooltip="Creates a new model">
         </command>
         <command
               commandId="org.eclipse.linuxtools.tmf.totalads.testSettings"
               icon="icons/settings.ico"
               style="push"
               tooltip="Adjusts settings for testing">
         </command>
         <command
               commandId="org.eclipse.linuxtools.tmf.totalads.delete"
               icon="icons/delete.ico"
               style="push"
               tooltip="Deletes a model">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.linuxtools.tmf.totalads.ui.datamodels.CreateModelHandler"
            commandId="org.eclipse.linuxtools.tmf.totalads.createModel">
      </handler>
      <handler
            class="org.eclipse.linuxtools.tmf.totalads.ui.datamodels.DeleteModelHandler"
            commandId="org.eclipse.linuxtools.tmf.totalads.delete">
      </handler>
      <handler
            class="org.eclipse.linuxtools.tmf.totalads.ui.datamodels.TestSettingsHandler"
            commandId="org.eclipse.linuxtools.tmf.totalads.testSettings">
      </handler>
   </extension>

</plugin>
 