<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.totalads.ui"
            class="org.eclipse.linuxtools.tmf.totalads.ui.TMFTotalADSView"
            icon="icons/sample.gif"
            id="org.eclipse.linuxtools.tmf.totalads.ui.ADS01"
            name="Total Anomaly Detection System"
            restorable="true">
      </view>
      <category
            id="org.eclipse.linuxtools.tmf.totalads.ui"
            name="Automated Anomaly Detection">
      </category>
   </extension>

</plugin>
